@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #98FB98;
    color: #333;
    font-family: "Inter", sans-serif;
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

a:hover {
    font-weight: 800;
}

.container {
    background: #fff;
    max-width: 450px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 2vw;
    border-radius: 12px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.6vh;
    margin-bottom: 1.6vh;
}

.form {
    margin-top: 1.6vh;
    margin-bottom: 1.6vh;
}

.form form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form label {
    font-weight: bold;
    margin-top: 1.6vh;
    margin-bottom: 1.6vh;
}

.form input {
    height: 4.5vh;
    margin-top: 1.6vh;
    margin-bottom: 1.6vh;
    padding-left: 1vw;
    border: 1px solid rgb(148, 153, 157);
    border-radius: 12px;
}

.form input:focus {
    background: #f0f0f5;
}

.button {
    background: #ADD8E6;
    height: 4.4444vh;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    border-radius: 16px;
    margin-top: 1.6vh;
    margin-bottom: 1.6vh;
    transition: 0.4s;
}

.button:hover {
    cursor: pointer;
    background: #6C8AB1;
    transition: 0.4s;
}

.button:focus {
    cursor: pointer;
    background: #6C8AB1;
    transition: 0.4s;
}

button i {
    font-size: 1.3vw;
}

.separador {
    background: #bbb;
    height: 0.2vh;
    border-radius: 2px;
}

.lista-tarefas {
    margin-top: 1.67vw;
    margin-bottom: 1.67vw;
}

.lista-tarefas ul {
    list-style: none;
}

.lista-tarefas ul li {
    background: #CC5500;
    height: 7.5vh;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    border-radius: 16px;
    margin-top: 1.6vh;
    margin-bottom: 1.6vh;
    padding: 1.67vh 0.9375vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;
}

.lista-tarefas ul li:hover {
    background: #863300;
    transition: 0.4s;
}

.apaga {
    background: #f00;
    padding: 1.67vh 0.9375vw;
    color: #fff;
    border: none;
}

.rmv-tarefa {
    background: transparent;
}

.apaga:hover {
    background: #b30000;
    cursor: pointer;
}

.rmv-tarefa:hover {
    background: transparent;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.67vh 0.9375vw;
}

.container-detalhes {
    background-color: #fff;
    max-width: 700px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.67vh 0.9375vw;
    border-radius: 12px;
}

.linha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.67vh 0.9375vw;
}

.detalhes {
    width: 23.4374vw;
    border: 1px solid #f0f0f5;
    border-radius: 4px;
    margin-right: 0.56vw;
    margin-left: 1.11vw;
    padding: 2.22vh 1.25vw;
}

.detalhes dl dt {
    margin-top: 0.56vh;
    margin-bottom: 0.56vh;
    font-weight: bold;
    color: #666;
}

.detalhes dl dd {
    margin-top: 0.56vh;
    margin-bottom: 1.67vh;
    color: #999;
}

.imagem {
    width: 430px;
    border: 1px solid #f0f0f5;
    border-radius: 8px;
    margin-right: 0.625vw;
    margin-left: 0.625vw;
    padding: 2.22vh 1.25vw;
}

.imagem img {
    max-width: 100%;
    height: auto;
}
